 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 82px;
}

.u-section-1 .u-image-1 {
  height: 80px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 1140px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 68px;
  }

  .u-section-1 .u-image-1 {
    height: 66px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-1 .u-image-1 {
    height: 51px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-1 .u-image-1 {
    height: 38px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-image-1 {
    height: 24px;
    margin-bottom: 0;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 76px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  margin: -45px auto 11px 0;
  padding: 8px 13px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
  margin-left: 3px;
  vertical-align: 0px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-left: 48px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -41px;
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 328px;
}

.u-section-3 .u-form-1 {
  height: 313px;
  width: 650px;
  margin: 1px auto;
}

.u-section-3 .u-input-1 {
  text-transform: none;
}

.u-section-3 .u-input-2 {
  text-transform: none;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-input-3 {
  text-transform: none;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-input-4 {
  text-transform: none;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-input-5 {
  text-transform: none;
}

.u-section-3 .u-btn-1 {
  border-style: none;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 77px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 21px 0;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 68px;
}

.u-section-5 .u-form-1 {
  height: 67px;
  width: 570px;
  margin: 1px auto;
}

.u-section-5 .u-input-1 {
  background-image: none;
}

.u-section-5 .u-btn-1 {
  border-style: none;
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 311px;
}

.u-section-6 .u-table-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-6 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-6 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-body-1 {
  background-image: none;
}